@namespace DNTPersianComponents.Blazor 
@typeparam T
@inherits InputNumber<T>

<div class="row mb-@InputRowMarginBottom">
    @if (!string.IsNullOrWhiteSpace(LabelName))
    {
        <label class="col-form-label col-lg-@LabelColumnWidth" for="@ValueField.FieldName">@LabelName</label>
    }
    <div class="col-lg-@InputTextColumnWidth">
        <div class="input-group">
            @if (!string.IsNullOrWhiteSpace(FieldIcon))
            {
                <div class="input-group-text">
                    <span class="@FieldIcon" role="img" aria-label="@LabelName"></span>
                </div>
            }
            <input
                @attributes="@AdditionalAttributes"
                type="text" dir="ltr"
                name="@ValueField.FieldName" id="@ValueField.FieldName"
                autocapitalize="off" autocorrect="off" autocomplete="off"
                class="@CssClass form-control"
                value="@EnteredValue"
                @oninput="OnInput"/>
        </div>
        @if (ValueExpression is not null)
        {
            <ValidationMessage For="@ValueExpression"/>
        }
    </div>
</div>